<form method="post">
    <div>
        <h1>Login</h1>

        <label for="username"><b>username</b></label>
        <input type="text" placeholder="username" name="username" id="username" required>
        <hr>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
        <hr>
        <a href="/register">register</a>

        <button type="submit" class="loginbtn">Login</button>
    </div>
</form>