<h1>registration</h1>
<form method="post">
    <div>
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="username"><b>username</b></label>
        <input type="text" placeholder="username" name="username" id="username" required>
        <hr>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" name="name" id="name" required>
        <hr>

          <label for="surname"><b>Surname</b></label>
        <input type="text" name="surname" id="surname" required>
        <hr>

        <label for="city"><b>City</b></label>
        <input type="text" placeholder="City" name="city" id="city" required>
        <hr>
        <label for="genderMale"><b>Gender</b></label>
        <input type="radio" id="genderMale"
               name="gender" value="0" checked>
        <label for="genderMale">Male</label>

        <input type="radio" id="genderFemale"
               name="gender" value="1">
        <label for="genderFemale">Female</label>
        <hr>
        <b>Interests</b>
        <input type="text" id="interests-1" name="interests-1">
        <input type="text" id="interests-2" name="interests-2">
        <input type="text" id="interests-3" name="interests-3">



        <button type="submit" class="registerbtn">Register</button>
    </div>
</form>